Name: Juan Pablo Meza

Email: juanpablo.meza604@gmail.com

This program reads the titanic.csv data, prints it out as a DataFrame and sorts the data accordingly

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('titanic.csv')
df = pd.DataFrame(data)
print(df)

                                 Name survived     sex      age passengerClass
0       Allen, Miss. Elisabeth Walton      yes  female  29.0000            1st
1      Allison, Master. Hudson Trevor      yes    male   0.9167            1st
2        Allison, Miss. Helen Loraine       no  female   2.0000            1st
3     Allison, Mr. Hudson Joshua Crei       no    male  30.0000            1st
4     Allison, Mrs. Hudson J C (Bessi       no  female  25.0000            1st
...                               ...      ...     ...      ...            ...
1304             Zabour, Miss. Hileni       no  female  14.5000            3rd
1305            Zabour, Miss. Thamine       no  female      NaN            3rd
1306        Zakarian, Mr. Mapriededer       no    male  26.5000            3rd
1307              Zakarian, Mr. Ortin       no    male  27.0000            3rd
1308               Zimmerman, Mr. Leo       no    male  29.0000            3rd

[1309 rows x 5 columns]

In [3]:
#Calculating how many passengers were on the Titanic
passengers = df.Name.count()
print("There were", passengers, "passengers on the Titanic")

There were 1309 passengers on the Titanic

In [4]:
#Number of Male Passengers
males = df.loc[df['sex'] == 'male']
males_num = males['sex'].count()
print("Number of male passengers:",males_num)

Number of male passengers: 843

In [5]:
#Number of Female Passengers
female = df.loc[df['sex'] == 'female']
female_num = female['sex'].count()
print("Number of female passengers:", female_num)

Number of female passengers: 466

In [6]:
#Average age of all passengers
avg_age = df.age.mean()
print("The average age of all passengers was:", round(avg_age, 2))

The average age of all passengers was: 29.88

In [7]:
#Number of passengers under the age of 21
age = df.loc[df['age'] < 21]
under_21 = age['age'].count()
print("Passengers under the age of 21:", under_21)

Passengers under the age of 21: 249

In [8]:
#Number of passengers that survived. Both Male and Female
alive = df.loc[df['survived'] == 'yes']
alive_count = alive['survived'].count()
male_alive = df.loc[(df['survived'] == 'yes') & (df['sex'] == 'male')]
male_alive_count = male_alive['survived'].count()
female_alive = df.loc[(df['survived'] == 'yes') & (df['sex'] == 'female')]
female_alive_count = female_alive['survived'].count()

print("Number of passengers that survived:",alive_count)
print("Male survivors:", male_alive_count)
print("Female survivors:", female_alive_count)

Number of passengers that survived: 500
Male survivors: 161
Female survivors: 339

In [9]:
#Number of passengers that died. Both Male and Female
dead = df.loc[df['survived'] == 'no']
dead_count = dead['survived'].count()
male_dead = df.loc[(df['survived'] == 'no') & (df['sex'] == 'male')]
male_dead_count = male_dead['survived'].count()
female_dead = df.loc[(df['survived'] == 'no') & (df['sex'] == 'female')]
female_dead_count = female_dead['survived'].count()

print("Number of passengers that died:",dead_count)
print("Males deceased:", male_dead_count)
print("Females deceased:", female_dead_count)

Number of passengers that died: 809
Males deceased: 682
Females deceased: 127

In [10]:
#Youngest Survivor
young = df.loc[(df['survived'] == 'yes') & (df['age'])]
youngest_age = young['age'].min()
youngest_name = df.loc[df['age'].idxmin()]['Name']

print("The youngest survivor was:",youngest_name)
print("She was:",round(youngest_age, 2),"years old")

The youngest survivor was: Dean, Miss. Elizabeth Gladys M
She was: 0.17 years old

In [11]:
#Oldest Survivor
old = df.loc[(df['survived'] == 'yes') & (df['age'])]
oldest_age = old['age'].max()
oldest_name = df.loc[df['age'].idxmax()]['Name']

print("The oldest survivor was: ", oldest_name)
print("He was:",round(oldest_age, 2),"years old")

The oldest survivor was:  Barkworth, Mr. Algernon Henry W
He was: 80.0 years old

In [12]:
#List of passengers that came out alive
passengers_alive = df.loc[df['survived'] == 'yes']
alive_passenger_count = passengers_alive['Name']

print("List of passengers that came out alive:")
print('\n', alive_passenger_count)

List of passengers that came out alive:

 0         Allen, Miss. Elisabeth Walton
1        Allison, Master. Hudson Trevor
5                   Anderson, Mr. Harry
6       Andrews, Miss. Kornelia Theodos
8       Appleton, Mrs. Edward Dale (Cha
                     ...
1261             Turkula, Mrs. (Hedwig)
1277               Vartanian, Mr. David
1286    Whabee, Mrs. George Joseph (Sha
1290    Wilkes, Mrs. James (Ellen Needs
1300    Yasbeck, Mrs. Antoni (Selini Al
Name: Name, Length: 500, dtype: object